body{
  height: 430px;
    background-image: url(images/dubai-g7ef539834_1280.jpg);
   background-size: cover;
    background-position:center;
    background-attachment: fixed;
    font-weight: Century Gothic;
  }  

main{
      margin-top:110px;
      margin-bottom: 60px;
  }
  main h1{
    font-family: system-ui;
  }

form{
  margin-top: 30px;
  height: 450px;
}

 footer{
 
  margin-top: 187px !important;
 }
 @media (max-width: 768px){

  form{
    height: 405px;
  }
 }